<div class="layout-breadcrumb-seting">
    <el-drawer title="布局设置" v-model="state.isDrawer" direction="rtl" destroy-on-close size="260px"
        @close="onDrawerClose">
        <el-scrollbar class="layout-breadcrumb-seting-bar">
            <!-- 全局主题 -->
            <el-divider content-position="left">全局主题</el-divider>
            <div class="layout-breadcrumb-seting-bar-flex">
                <div class="layout-breadcrumb-seting-bar-flex-label">primary</div>
                <div class="layout-breadcrumb-seting-bar-flex-value">
                    <el-color-picker v-model="getThemeConfig.primary" size="default" @change="onColorPickerChange">
                    </el-color-picker>
                </div>
            </div>
            <div class="layout-breadcrumb-seting-bar-flex mt15">
                <div class="layout-breadcrumb-seting-bar-flex-label">深色模式</div>
                <div class="layout-breadcrumb-seting-bar-flex-value">
                    <el-switch v-model="getThemeConfig.isIsDark" size="small" @change="onAddDarkChange"></el-switch>
                </div>
            </div>

            <!-- 顶栏设置 -->
            <el-divider content-position="left">顶栏设置</el-divider>
            <div class="layout-breadcrumb-seting-bar-flex">
                <div class="layout-breadcrumb-seting-bar-flex-label">顶栏背景</div>
                <div class="layout-breadcrumb-seting-bar-flex-value">
                    <el-color-picker v-model="getThemeConfig.topBar" size="default"
                        @change="onBgColorPickerChange('topBar')"> </el-color-picker>
                </div>
            </div>
            <div class="layout-breadcrumb-seting-bar-flex">
                <div class="layout-breadcrumb-seting-bar-flex-label">顶栏默认字体颜色</div>
                <div class="layout-breadcrumb-seting-bar-flex-value">
                    <el-color-picker v-model="getThemeConfig.topBarColor" size="default"
                        @change="onBgColorPickerChange('topBarColor')"> </el-color-picker>
                </div>
            </div>
            <div class="layout-breadcrumb-seting-bar-flex mt10">
                <div class="layout-breadcrumb-seting-bar-flex-label">顶栏背景渐变
                </div>
                <div class="layout-breadcrumb-seting-bar-flex-value">
                    <el-switch v-model="getThemeConfig.isTopBarColorGradual" size="small"
                        @change="onTopBarGradualChange"></el-switch>
                </div>
            </div>

            <!-- 菜单设置 -->
            <el-divider content-position="left">菜单设置</el-divider>
            <div class="layout-breadcrumb-seting-bar-flex">
                <div class="layout-breadcrumb-seting-bar-flex-label">菜单背景</div>
                <div class="layout-breadcrumb-seting-bar-flex-value">
                    <el-color-picker v-model="getThemeConfig.menuBar" size="default"
                        @change="onBgColorPickerChange('menuBar')"> </el-color-picker>
                </div>
            </div>
            <div class="layout-breadcrumb-seting-bar-flex">
                <div class="layout-breadcrumb-seting-bar-flex-label">菜单默认字体颜色</div>
                <div class="layout-breadcrumb-seting-bar-flex-value">
                    <el-color-picker v-model="getThemeConfig.menuBarColor" size="default"
                        @change="onBgColorPickerChange('menuBarColor')"> </el-color-picker>
                </div>
            </div>
            <div class="layout-breadcrumb-seting-bar-flex">
                <div class="layout-breadcrumb-seting-bar-flex-label">菜单高亮背景色
                </div>
                <div class="layout-breadcrumb-seting-bar-flex-value">
                    <el-color-picker v-model="getThemeConfig.menuBarActiveColor" size="default" show-alpha
                        @change="onBgColorPickerChange('menuBarActiveColor')" />
                </div>
            </div>
            <div class="layout-breadcrumb-seting-bar-flex mt14">
                <div class="layout-breadcrumb-seting-bar-flex-label">菜单背景渐变
                </div>
                <div class="layout-breadcrumb-seting-bar-flex-value">
                    <el-switch v-model="getThemeConfig.isMenuBarColorGradual" size="small"
                        @change="onMenuBarGradualChange"></el-switch>
                </div>
            </div>

            <!-- 分栏设置 -->
            <el-divider content-position="left"
                :style="{ opacity: getThemeConfig.layout !== 'columns' ? 0.5 : 1 }">分栏设置</el-divider>
            <div class="layout-breadcrumb-seting-bar-flex"
                :style="{ opacity: getThemeConfig.layout !== 'columns' ? 0.5 : 1 }">
                <div class="layout-breadcrumb-seting-bar-flex-label">分栏菜单背景</div>
                <div class="layout-breadcrumb-seting-bar-flex-value">
                    <el-color-picker v-model="getThemeConfig.columnsMenuBar" size="default"
                        @change="onBgColorPickerChange('columnsMenuBar')"
                        :disabled="getThemeConfig.layout !== 'columns'">
                    </el-color-picker>
                </div>
            </div>
            <div class="layout-breadcrumb-seting-bar-flex"
                :style="{ opacity: getThemeConfig.layout !== 'columns' ? 0.5 : 1 }">
                <div class="layout-breadcrumb-seting-bar-flex-label">分栏菜单默认字体颜色
                </div>
                <div class="layout-breadcrumb-seting-bar-flex-value">
                    <el-color-picker v-model="getThemeConfig.columnsMenuBarColor" size="default"
                        @change="onBgColorPickerChange('columnsMenuBarColor')"
                        :disabled="getThemeConfig.layout !== 'columns'">
                    </el-color-picker>
                </div>
            </div>
            <div class="layout-breadcrumb-seting-bar-flex mt14"
                :style="{ opacity: getThemeConfig.layout !== 'columns' ? 0.5 : 1 }">
                <div class="layout-breadcrumb-seting-bar-flex-label">分栏菜单背景渐变</div>
                <div class="layout-breadcrumb-seting-bar-flex-value">
                    <el-switch v-model="getThemeConfig.isColumnsMenuBarColorGradual" size="small"
                        @change="onColumnsMenuBarGradualChange"
                        :disabled="getThemeConfig.layout !== 'columns'"></el-switch>
                </div>
            </div>
            <div class="layout-breadcrumb-seting-bar-flex mt14"
                :style="{ opacity: getThemeConfig.layout !== 'columns' ? 0.5 : 1 }">
                <div class="layout-breadcrumb-seting-bar-flex-label">分栏菜单鼠标悬停预加载</div>
                <div class="layout-breadcrumb-seting-bar-flex-value">
                    <el-switch v-model="getThemeConfig.isColumnsMenuHoverPreload" size="small"
                        @change="onColumnsMenuHoverPreloadChange"
                        :disabled="getThemeConfig.layout !== 'columns'"></el-switch>
                </div>
            </div>

            <!-- 界面设置 -->
            <el-divider content-position="left">界面设置</el-divider>
            <div class="layout-breadcrumb-seting-bar-flex"
                :style="{ opacity: getThemeConfig.layout === 'transverse' ? 0.5 : 1 }">
                <div class="layout-breadcrumb-seting-bar-flex-label">菜单水平折叠</div>
                <div class="layout-breadcrumb-seting-bar-flex-value">
                    <el-switch v-model="getThemeConfig.isCollapse" :disabled="getThemeConfig.layout === 'transverse'"
                        size="small" @change="onThemeConfigChange"></el-switch>
                </div>
            </div>
            <div class="layout-breadcrumb-seting-bar-flex mt15"
                :style="{ opacity: getThemeConfig.layout === 'transverse' ? 0.5 : 1 }">
                <div class="layout-breadcrumb-seting-bar-flex-label">菜单手风琴</div>
                <div class="layout-breadcrumb-seting-bar-flex-value">
                    <el-switch v-model="getThemeConfig.isUniqueOpened"
                        :disabled="getThemeConfig.layout === 'transverse'" size="small"
                        @change="setLocalThemeConfig"></el-switch>
                </div>
            </div>
            <div class="layout-breadcrumb-seting-bar-flex mt15"
                :style="{ opacity: getThemeConfig.layout === 'transverse' ? 0.5 : 1 }">
                <div class="layout-breadcrumb-seting-bar-flex-label">激活第一分栏菜单</div>
                <div class="layout-breadcrumb-seting-bar-flex-value">
                    <el-switch v-model="getThemeConfig.activeFirst" :disabled="getThemeConfig.layout === 'transverse'"
                        size="small" @change="setLocalThemeConfig"></el-switch>
                </div>
            </div>

            <div class="layout-breadcrumb-seting-bar-flex mt15">
                <div class="layout-breadcrumb-seting-bar-flex-label">固定 Header</div>
                <div class="layout-breadcrumb-seting-bar-flex-value">
                    <el-switch v-model="getThemeConfig.isFixedHeader" size="small"
                        @change="onIsFixedHeaderChange"></el-switch>
                </div>
            </div>
            <div class="layout-breadcrumb-seting-bar-flex mt15"
                :style="{ opacity: getThemeConfig.layout !== 'classic' ? 0.5 : 1 }">
                <div class="layout-breadcrumb-seting-bar-flex-label">经典布局分割菜单
                </div>
                <div class="layout-breadcrumb-seting-bar-flex-value">
                    <el-switch v-model="getThemeConfig.isClassicSplitMenu"
                        :disabled="getThemeConfig.layout !== 'classic'" size="small" @change="onClassicSplitMenuChange">
                    </el-switch>
                </div>
            </div>
            <!-- <div class="layout-breadcrumb-seting-bar-flex mt15">
          <div class="layout-breadcrumb-seting-bar-flex-label">开启锁屏</div>
          <div class="layout-breadcrumb-seting-bar-flex-value">
            <el-switch v-model="getThemeConfig.isLockScreen" size="small" @change="setLocalThemeConfig"></el-switch>
          </div>
        </div>
        <div class="layout-breadcrumb-seting-bar-flex mt11">
          <div class="layout-breadcrumb-seting-bar-flex-label">自动锁屏(s/秒)</div>
          <div class="layout-breadcrumb-seting-bar-flex-value">
            <el-input-number v-model="getThemeConfig.lockScreenTime" controls-position="right" :min="1" :max="9999"
              @change="setLocalThemeConfig" size="default" style="width: 90px">
            </el-input-number>
          </div>
        </div> -->

            <!-- 界面显示 -->
            <el-divider content-position="left">界面显示</el-divider>
            <div class="layout-breadcrumb-seting-bar-flex mt15">
                <div class="layout-breadcrumb-seting-bar-flex-label">侧边栏 Logo</div>
                <div class="layout-breadcrumb-seting-bar-flex-value">
                    <el-switch v-model="getThemeConfig.isShowLogo" size="small"
                        @change="onIsShowLogoChange"></el-switch>
                </div>
            </div>
            <div class="layout-breadcrumb-seting-bar-flex mt15"
                :style="{ opacity: getThemeConfig.layout === 'classic' || getThemeConfig.layout === 'transverse' ? 0.5 : 1 }">
                <div class="layout-breadcrumb-seting-bar-flex-label">开启 Breadcrumb</div>
                <div class="layout-breadcrumb-seting-bar-flex-value">
                    <el-switch v-model="getThemeConfig.isBreadcrumb"
                        :disabled="getThemeConfig.layout === 'classic' || getThemeConfig.layout === 'transverse'"
                        size="small" @change="onIsBreadcrumbChange"></el-switch>
                </div>
            </div>
            <!-- <div class="layout-breadcrumb-seting-bar-flex mt15">
          <div class="layout-breadcrumb-seting-bar-flex-label">开启 Breadcrumb 图标</div>
          <div class="layout-breadcrumb-seting-bar-flex-value">
            <el-switch v-model="getThemeConfig.isBreadcrumbIcon" size="small"
              @change="setLocalThemeConfig"></el-switch>
          </div>
        </div>
        <div class="layout-breadcrumb-seting-bar-flex mt15">
          <div class="layout-breadcrumb-seting-bar-flex-label">开启 Tagsview</div>
          <div class="layout-breadcrumb-seting-bar-flex-value">
            <el-switch v-model="getThemeConfig.isTagsview" size="small" @change="setLocalThemeConfig"></el-switch>
          </div>
        </div>
        <div class="layout-breadcrumb-seting-bar-flex mt15">
          <div class="layout-breadcrumb-seting-bar-flex-label">开启 Tagsview 图标</div>
          <div class="layout-breadcrumb-seting-bar-flex-value">
            <el-switch v-model="getThemeConfig.isTagsviewIcon" size="small"
              @change="setLocalThemeConfig"></el-switch>
          </div>
        </div>
        <div class="layout-breadcrumb-seting-bar-flex mt15">
          <div class="layout-breadcrumb-seting-bar-flex-label">开启 TagsView 缓存</div>
          <div class="layout-breadcrumb-seting-bar-flex-value">
            <el-switch v-model="getThemeConfig.isCacheTagsView" size="small"
              @change="setLocalThemeConfig"></el-switch>
          </div>
        </div> -->
            <div class="layout-breadcrumb-seting-bar-flex mt15" :style="{ opacity: state.isMobile ? 0.5 : 1 }">
                <div class="layout-breadcrumb-seting-bar-flex-label">开启 TagsView 拖拽
                </div>
                <div class="layout-breadcrumb-seting-bar-flex-value">
                    <el-switch v-model="getThemeConfig.isSortableTagsView" :disabled="state.isMobile ? true : false"
                        size="small" @change="onSortableTagsViewChange"></el-switch>
                </div>
            </div>
            <!-- <div class="layout-breadcrumb-seting-bar-flex mt15">
          <div class="layout-breadcrumb-seting-bar-flex-label">开启 TagsView 共用</div>
          <div class="layout-breadcrumb-seting-bar-flex-value">
            <el-switch v-model="getThemeConfig.isShareTagsView" size="small"
              @change="onShareTagsViewChange"></el-switch>
          </div>
        </div> -->
            <div class="layout-breadcrumb-seting-bar-flex mt15">
                <div class="layout-breadcrumb-seting-bar-flex-label">开启 Footer</div>
                <div class="layout-breadcrumb-seting-bar-flex-value">
                    <el-switch v-model="getThemeConfig.isFooter" size="small" @change="setLocalThemeConfig"></el-switch>
                </div>
            </div>
            <div class="layout-breadcrumb-seting-bar-flex mt15">
                <div class="layout-breadcrumb-seting-bar-flex-label">灰色模式</div>
                <div class="layout-breadcrumb-seting-bar-flex-value">
                    <el-switch v-model="getThemeConfig.isGrayscale" size="small"
                        @change="onAddFilterChange('grayscale')"></el-switch>
                </div>
            </div>
            <div class="layout-breadcrumb-seting-bar-flex mt15">
                <div class="layout-breadcrumb-seting-bar-flex-label">色弱模式</div>
                <div class="layout-breadcrumb-seting-bar-flex-value">
                    <el-switch v-model="getThemeConfig.isInvert" size="small"
                        @change="onAddFilterChange('invert')"></el-switch>
                </div>
            </div>
            <!-- 其它设置 -->
            <el-divider content-position="left">其它设置</el-divider>
            <div class="layout-breadcrumb-seting-bar-flex mt15">
                <div class="layout-breadcrumb-seting-bar-flex-label">Tagsview 风格</div>
                <div class="layout-breadcrumb-seting-bar-flex-value">
                    <el-select v-model="getThemeConfig.tagsStyle" placeholder="请选择" size="default" style="width: 90px"
                        @change="setLocalThemeConfig">
                        <el-option label="风格1" value="tags-style-one"></el-option>
                        <el-option label="风格4" value="tags-style-four"></el-option>
                        <el-option label="风格5" value="tags-style-five"></el-option>
                    </el-select>
                </div>
            </div>
            <div class="layout-breadcrumb-seting-bar-flex mt15">
                <div class="layout-breadcrumb-seting-bar-flex-label">主页面切换动画</div>
                <div class="layout-breadcrumb-seting-bar-flex-value">
                    <el-select v-model="getThemeConfig.animation" placeholder="请选择" size="default" style="width: 90px"
                        @change="setLocalThemeConfig">
                        <el-option label="slide-right" value="slide-right"></el-option>
                        <el-option label="slide-left" value="slide-left"></el-option>
                        <el-option label="opacitys" value="opacitys"></el-option>
                    </el-select>
                </div>
            </div>
            <div class="layout-breadcrumb-seting-bar-flex mt15"
                :style="{ opacity: getThemeConfig.layout !== 'columns' ? 0.5 : 1 }">
                <div class="layout-breadcrumb-seting-bar-flex-label">分栏高亮风格
                </div>
                <div class="layout-breadcrumb-seting-bar-flex-value">
                    <el-select v-model="getThemeConfig.columnsAsideStyle" placeholder="请选择" size="default"
                        style="width: 90px" :disabled="getThemeConfig.layout !== 'columns' ? true : false"
                        @change="setLocalThemeConfig">
                        <el-option label="圆角" value="columns-round"></el-option>
                        <el-option label="卡片" value="columns-card"></el-option>
                    </el-select>
                </div>
            </div>
            <div class="layout-breadcrumb-seting-bar-flex mt15 mb27"
                :style="{ opacity: getThemeConfig.layout !== 'columns' ? 0.5 : 1 }">
                <div class="layout-breadcrumb-seting-bar-flex-label">分栏布局风格
                </div>
                <div class="layout-breadcrumb-seting-bar-flex-value">
                    <el-select v-model="getThemeConfig.columnsAsideLayout" placeholder="请选择" size="default"
                        style="width: 90px" :disabled="getThemeConfig.layout !== 'columns' ? true : false"
                        @change="setLocalThemeConfig">
                        <el-option label="水平" value="columns-horizontal"></el-option>
                        <el-option label="垂直" value="columns-vertical"></el-option>
                    </el-select>
                </div>
            </div>

            <!-- 布局切换 -->
            <el-divider content-position="left">布局切换</el-divider>
            <div class="layout-drawer-content-flex">
                <!-- defaults 布局 -->
                <div class="layout-drawer-content-item" @click="onSetLayout('defaults')">
                    <section class="el-container el-circular"
                        :class="{ 'drawer-layout-active': getThemeConfig.layout === 'defaults' }">
                        <aside class="el-aside" style="width: 20px"></aside>
                        <section class="el-container is-vertical">
                            <header class="el-header" style="height: 10px"></header>
                            <main class="el-main"></main>
                        </section>
                    </section>
                    <div class="layout-tips-warp"
                        :class="{ 'layout-tips-warp-active': getThemeConfig.layout === 'defaults' }">
                        <div class="layout-tips-box">
                            <p class="layout-tips-txt">传统</p>
                        </div>
                    </div>
                </div>
                <!-- classic 布局 -->
                <!-- <div class="layout-drawer-content-item" @click="onSetLayout('classic')">
            <section class="el-container is-vertical el-circular"
              :class="{ 'drawer-layout-active': getThemeConfig.layout === 'classic' }">
              <header class="el-header" style="height: 10px"></header>
              <section class="el-container">
                <aside class="el-aside" style="width: 20px"></aside>
                <section class="el-container is-vertical">
                  <main class="el-main"></main>
                </section>
              </section>
            </section>
            <div class="layout-tips-warp"
              :class="{ 'layout-tips-warp-active': getThemeConfig.layout === 'classic' }">
              <div class="layout-tips-box">
                <p class="layout-tips-txt">经典</p>
              </div>
            </div>
          </div> -->
                <!-- transverse 布局 -->
                <div class="layout-drawer-content-item" @click="onSetLayout('transverse')">
                    <section class="el-container is-vertical el-circular"
                        :class="{ 'drawer-layout-active': getThemeConfig.layout === 'transverse' }">
                        <header class="el-header" style="height: 10px"></header>
                        <section class="el-container">
                            <section class="el-container is-vertical">
                                <main class="el-main"></main>
                            </section>
                        </section>
                    </section>
                    <div class="layout-tips-warp"
                        :class="{ 'layout-tips-warp-active': getThemeConfig.layout === 'transverse' }">
                        <div class="layout-tips-box">
                            <p class="layout-tips-txt">横向</p>
                        </div>
                    </div>
                </div>
                <!-- columns 布局 -->
                <div class="layout-drawer-content-item" @click="onSetLayout('columns')">
                    <section class="el-container el-circular"
                        :class="{ 'drawer-layout-active': getThemeConfig.layout === 'columns' }">
                        <aside class="el-aside-dark" style="width: 10px"></aside>
                        <aside class="el-aside" style="width: 20px"></aside>
                        <section class="el-container is-vertical">
                            <header class="el-header" style="height: 10px"></header>
                            <main class="el-main"></main>
                        </section>
                    </section>
                    <div class="layout-tips-warp"
                        :class="{ 'layout-tips-warp-active': getThemeConfig.layout === 'columns' }">
                        <div class="layout-tips-box">
                            <p class="layout-tips-txt">分栏</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copy-config">
                <!-- <el-alert title="点击下方按钮，复制布局配置去 `src/stores/themeConfig.js` 中修改。" type="warning" :closable="false">
          </el-alert> -->
                <!-- <el-button size="default" class="copy-config-btn" type="primary" ref="copyConfigBtnRef"
            @click="onCopyConfigClick">
            <el-icon class="mr5">
              <ele-CopyDocument />
            </el-icon>
            一键复制配置
          </el-button> -->
                <el-button size="default" class="copy-config-btn-reset" type="info" @click="onResetConfigClick">
                    <el-icon class="mr5">
                        <ele-RefreshRight />
                    </el-icon>
                    一键恢复默认
                </el-button>
            </div>
        </el-scrollbar>
    </el-drawer>
</div>